* {
    color: white;
}

.acc_back_img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.login_main_block {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
}
.inputs {
    margin-top: 10vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 80vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}
.sign_up {
    color: white;
    display: flex;
    justify-content: end;
}
.sign_up > a {
    margin-left: 5px;
    color: white;
}
.main_inputs_block {
    display: flex;
    width: 70%;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
}
.button_block {
    display: flex;
    flex-direction: column;
}
.button_block > button {
    width: 100%;
    height: 45px;
    border: none;
    margin-top: 10px;
    border-radius: 50px;
}
.button_block > button:first-child {
    background: linear-gradient(to right, #cc1db0 0%, #cd2c3f 100%);
}
.google_bnt {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.google_bnt > img {
    margin-right: 15px;
    width: 20px;
}
.input {
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
