.wrapper{
    width: 97%;
    color: white;
    margin-top: 30px;
    background-color: #181818;
    border-radius: 20px;
    padding: 10px 10px;
  }
  
  .wrapper_buttons{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
  }
  
  .wrapper_buttons_left{
    position: relative;
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper_buttons_right{
    position: relative;
    width: 125px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project_button{
    width: 125px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background-color: #666666;
    color: white;
    border: none;
  }
  
  .project_button_no_active{
    background-color: #444444;
    width: 125px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .post_button{
    width: 100px;
    height: 45px;
    width: 500;
    font-size: 18px;
    border-radius: 10px;
    background-color: #666666;
    color: white;
    border: none;
  }
  
  .post_button_no_active{
    background-color: #444444;
    width: 100px;
    height: 45px;
    width: 500;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .plus_project{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #CC1DB0 0%, #CD2C3F 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  
  .plus_project_no_active{
    display: none;
  }
  
  .plus_post{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #CC1DB0 0%, #CD2C3F 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  
  .plus_post_no_active{
    display: none;
  }
  
  /* project carts */
  
  .project_carts{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  
  .project_cart{
    background-color: #333333;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 20px 0;
  }
  
  .project_cart > img{
    margin: 20px 20px;
  }
  
  .project_name{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .project_cart > p{
    margin: 10px 20px;
  }
  
  .location{
    margin: 0 20px;
    display: flex;
  }
  
  .project_reactions{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
  }
  
  .project_edit_button{
    height: 50px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
  }
  
  .project_edit_button:hover{
    background-color: #454545;
  }